*.iml
.gradle
/local.properties
.DS_Store
/build


/.idea/*.xml
/.idea/.name
/.idea/libraries
!/.idea/gradle.xml
!/.idea/codeStyleSettings.xml
!/.idea/copyright/*.xml
!/.idea/encodings.xml
!/.idea/inspectionProfiles/*.xml
/.idea/inspectionProfiles/profiles_settings.xml
!/.idea/scopes/*.xml
/.idea/scopes/scope_settings.xml

!/.idea/templateLanguages.xml
!/.idea/vcs.xml